# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
  - master

pool:
  vmImage: "ubuntu-latest"

steps:
  - script: |
      echo "username: $(CD_SP_APP_ID)" >> $PIPELINE_WORKSPACE/secrets.txt
      echo "password: $(CD_SP_PASSWORD)"" >> $PIPELINE_WORKSPACE/secrets.txt
    displayName: "Run build, test and delivery steps"

  - task: PublishPipelineArtifact@1
    inputs:
      targetPath: '$(Pipeline.Workspace)/secrets.txt'
      artifact: 'Secrets'
      publishLocation: 'pipeline'
